.title {
	text-align: center;
	font-size: 50px;
	margin-top: 3%;
}

.album-form {
	width: 50%;
	margin-left: 25%;
	margin-top: 3%;
	margin-bottom: 1%;
}

.album-img-wrapper {
	margin-bottom: 7%;
}

.album-img-form {
	width: 40%;
	margin-left: 25%;
	float: left;
}

.album-file-submit {
	width: 50%;
	margin-left: 25%;
}

.album-file-wrapper {
    float: left;
    width: 9%;
}

.album-download {
	width: 30%;
	margin-left: 35%;
	margin-bottom: 3%;
}

#album-art {
	display: block;
	margin: auto;
	margin-bottom: 3%;
}

.info {
	margin-top: 3%;
	margin-bottom: 1%;
	text-align: center;
	font-style: italic;
}

.file-submit-label {
	border: 1px solid #ccc;
	text-align: center;
}

.filler {
	padding-top: 8px;
	float: left;
	margin-left: 6px;
	margin-right: 6px;
    width: 2%;
    text-align: center;
}